footer.footer 
    .footer__logo 
        img(src='/img/logo-green.png', lat='Приключения лого')
    ul.footer__nav 
        li: a(href='#') О нас
        li: a(href='#') Скачать приложение
        li: a(href='#') Стать гидом
        li: a(href='#') Карьера
        li: a(href='#') Контакты
    p.footer__copyright &copy: от Владислав Песцов. Все права защищены 