extends baseEmail

block content
    p Привет #{firstName},
    p Забыли пароль? Отправьте запрос на исправление с Вашим новым паролем и паролем подтверждения на почту: #{url}.
    p (Веб сайт для этого действия ещё не реализован)
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Сбросить ваш пароль
    p Если вы не забывали пароль, пожалуйста проигнорируйте это письмо!
    p Владислав Песцов, СЕО